<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chungmin.helpu" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <!--
        The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- android:label="@string/title_activity_send_log" -->
    <!-- android:theme="@android:style/Theme.Dialog" -->
    <!-- For attachment when send email -->
    <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/> -->
    <!-- <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> -->
    <!-- <uses-permission android:name="android.permission.READ_PHONE_STATE" /> -->
    <application
        android:name=".models.Globals"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.Login"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_login"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.Register"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_register"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.Hire"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_hire"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.Work"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_work"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.ServiceProviderList"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_service_provider_list"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.UserProfileSetting"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_user_profile_setting"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.CustomerRequestList"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_customer_request_list"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.CustomerRequestByID"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_customer_request_by_id"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.ServiceProviderByID"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_service_provider_by_id"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.sample.ProjectStatusFlow"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_help"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.ServiceProviderListByServiceID"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_service_provider_by_id"
            android:screenOrientation="portrait">
        </activity>
        <!-- <activity -->
        <!-- android:name=".Test" -->
        <!-- android:label="@string/title_activity_test" > -->
        <!-- </activity> -->

        <service
            android:name=".service.TriggerNotificationService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <receiver
            android:name=".service.AlarmManagerBroadcastReceiver"
            android:enabled="true"
            android:exported="true" >
        </receiver>
        <receiver
            android:name=".service.BootComplete"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activities.CustomerRequestJobList"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_customer_request_job_list"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.ProjectMessages"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_project_messages"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.ipay.IpayAcitivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.ipay.IpayAcitivityR"
            android:configChanges="orientation|screenSize" />
        <!-- <activity -->
        <!-- android:name=".IPay88SampleActivity" -->
        <!-- android:label="@string/title_activity_ipay88_sample" > -->
        <!-- </activity> -->
        <activity
            android:name=".activities.AboutUs"
            android:label="@string/title_activity_about_us" />
        <!-- <activity -->
        <!-- android:name=".activities.HelpUBaseActivity" -->
        <!-- android:label="@string/title_activity_help_ubase" > -->
        <!-- </activity> -->
        <activity
            android:name=".activities.ContactUs"
            android:label="@string/title_activity_contact_us" />
        <!-- <activity -->
        <!-- android:name=".LifeCycle" -->
        <!-- android:label="@string/title_activity_life_cycle" > -->
        <!-- </activity> -->
        <service
            android:name=".service.AutoStartUp"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".activities.ServerInfo"
            android:label="@string/title_activity_server_info" />
        <activity
            android:name=".activities.SendEmail"
            android:label="@string/title_activity_send_email" />
        <activity
            android:name=".activities.AppStatsSummary"
            android:label="@string/title_activity_app_stats_summary" />
        <activity
            android:name=".activities.ChangePasswordActivity"
            android:label="@string/title_activity_change_password" />
        <activity
            android:name=".activities.AccountRecoveryActivity"
            android:label="@string/title_activity_account_recovery" />
        <activity
            android:name=".activities.CustomerCareActivity"
            android:label="@string/strCustomerCare"></activity>
        <activity
            android:name=".activities.SearchActivity"
            android:label="@string/title_activity_search">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <provider
            android:name=".provider.AppRecentSearchesProvider"
            android:authorities="com.example.chungmin.helpu"
            android:exported="false" />

        <activity
            android:name=".activities.SendLog"
            android:theme="@style/Theme.UserDialog"
            android:windowSoftInputMode="stateHidden"></activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".activities.MapsActivity"
            android:label="@string/title_activity_maps"></activity>
        <activity
            android:name=".activities.LocationActivity"
            android:label="@string/title_activity_location"></activity>
    </application>

</manifest>
