<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chungmin.helpu" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- For attachment when send email -->
    <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/> -->
    <!-- <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> -->
    <!-- <uses-permission android:name="android.permission.READ_PHONE_STATE" /> -->
    <application
        android:name=".Globals"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Register"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_register"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Hire"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_hire"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Work"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_work"
            android:screenOrientation="portrait">
        </activity>
        <!--
        <activity
            android:name=".ApplicationList"
            android:label="@string/title_activity_application_list" >
        </activity>
        -->
        <activity
            android:name=".ServiceProviderList"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_service_provider_list"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".UserProfileSetting"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_user_profile_setting"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".CustomerRequestList"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_customer_request_list"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".CustomerRequestByID"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_customer_request_by_id"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ServiceProviderByID"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_service_provider_by_id"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ProjectStatusFlow"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_help"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ServiceProviderListByServiceID"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_service_provider_by_id"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".CustomerRequestPickServiceProvider"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_customer_request_pick_service_provider"
            android:screenOrientation="portrait">
        </activity>
        <!-- <activity -->
        <!-- android:name=".Test" -->
        <!-- android:label="@string/title_activity_test" > -->
        <!-- </activity> -->

        <service
            android:name=".TriggerNotificationService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <receiver
            android:name=".AlarmManagerBroadcastReceiver"
            android:enabled="true"
            android:exported="true" >
        </receiver>
        <receiver
            android:name=".BootComplete"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ExcludeServiceProviderCreateQuotation"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_service_provider_create_quotation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".CustomerRequestJobList"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_customer_request_job_list"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ExcludeServiceProviderConfirmQuotation"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_service_provider_confirm_quotation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".CustomerDoDownPayment"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_customer_do_down_payment"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ProjectMessages"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_project_messages"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.ipay.IpayAcitivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.ipay.IpayAcitivityR"
            android:configChanges="orientation|screenSize" />
        <!-- <activity -->
        <!-- android:name=".IPay88SampleActivity" -->
        <!-- android:label="@string/title_activity_ipay88_sample" > -->
        <!-- </activity> -->
        <activity
            android:name=".AboutUs"
            android:label="@string/title_activity_about_us"></activity>
        <!-- <activity -->
        <!-- android:name=".HelpUBaseActivity" -->
        <!-- android:label="@string/title_activity_help_ubase" > -->
        <!-- </activity> -->
        <activity
            android:name=".ContactUs"
            android:label="@string/title_activity_contact_us"></activity>
        <!-- <activity -->
        <!-- android:name=".LifeCycle" -->
        <!-- android:label="@string/title_activity_life_cycle" > -->
        <!-- </activity> -->
        <service
            android:name=".AutoStartUp"
            android:enabled="true"
            android:exported="true"></service>

        <activity
            android:name=".ServerInfo"
            android:label="@string/title_activity_server_info"></activity>
        <activity
            android:name=".SendEmail"
            android:label="@string/title_activity_send_email"></activity>
        <activity
            android:name=".AppStatsSummary"
            android:label="@string/title_activity_app_stats_summary"></activity>
        <activity
            android:name=".TestEspressoTestCase"
            android:label="@string/title_activity_test_espresso_test_case"></activity>
    </application>

</manifest>
